<div class="container">
  <h3 mat-dialog-title>Add new country</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent" class="inputField">
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="inputField">
        <input matInput #input class="form-control" placeholder="Capital" [(ngModel)]="data.capital" name="capital" required />
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form"> 
      <mat-form-field color="accent" class="inputField">
        <input matInput #inputstate class="form-control" placeholder="currency" [(ngModel)]="data.currency" name="currency" maxlength="10" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
       
    <div class="form">
      <mat-form-field color="accent" class="inputField">
        <input matInput placeholder="emoji" [(ngModel)]="data.emoji" name="emoji">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="inputField">
        <input matInput placeholder="phone" [(ngModel)]="data.phone" name="phone">
      </mat-form-field>
    </div>

    

    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
